btn{
    background-color: red;
    border-radius: 10px;
    border: 1px solid green;
}

li{
    color: aquamarine;
    padding: 5px;
    margin: 1px 5px;
}

button:hover{
    background-color: darkcyan;
}

